// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background: rgb(240,240,240);
}

h1 {
  color: rgb(50,50,50);
}

.ask{
  color:white;
  background: #2f416d;
  border-radius: 6px;
}
